@import "../../../../../assets/variables.scss";

.logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $grey-light;
  height: $top-bar-height;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
}
