<!-- <div class="form-group form-group-pass">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [formControl]="control"
    placeholder="{{ placeHolder | translate }}"
    id="{{ type }}"
    name="{{ type }}"
    class="form-control"
    [class.form-control-error]="control.invalid && control.dirty && isSubmitted"
  />
  <a class="show" (click)="showPassword = !showPassword">
    <img src="/assets/img/authentication/{{ showPassword ? 'show' : 'hide' }}-pass.svg" />
  </a>

  <span class="form-feedback" *ngIf="control.invalid && control.dirty && isSubmitted">
    <span *ngIf="control.hasError('pattern')">
      {{ "passwordValidation" | translate }}
    </span>
  </span>
</div> -->
