@import "../../../../assets/variables.scss";

.signin {
  padding: 0 $spacing;
  background: $white;
  min-height: 100vh;
  padding-bottom: $spacing * 2;

  h2 {
    margin-top: $spacing * 2;
    margin-bottom: 2px;
    text-align: left;
  }

  p {
    color: $black;
    font-size: $font-sm;
    text-align: left;
  }
}
